<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tableau Data Utility</title>
    <link rel="icon" type="image/png" href="img/favicon32x32.png" sizes="32x32">
    <link href="css/bootstrap-3.4.1.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="css/custom.css" />
    <script defer src="js/svgxuse.js"></script>
</head>
<body class="main-body">
	<noscript>You need to enable JavaScript to run this app.</noscript>  
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tableau-data-generators">
		    <svg class="icon icon-bars" style="
			    height: 20px;
			    width: 20px;
			"><use xlink:href="symbol-defs.svg#icon-bars"></use></svg>
	  	</button>
  	 	<div class="collapse navbar-collapse" id="tableau-data-generators">
		    <ul class="navbar-nav">
		    	<li class="nav-item">
			      	<a id="network_data" class="nav-link active" title="Generate Network Graph Data for Tableau">
			      		<svg class="icon icon-network-graph"><use xlink:href="symbol-defs.svg#icon-network-graph"></use></svg> 
			      		Network Graph to CSV
		      		</a>
			    </li>
		      	<li class="nav-item">
			      	<a id="spatial_data" class="nav-link" title="Generate Spatial Data for Tableau">
						<svg class="icon icon-globe"><use xlink:href="symbol-defs.svg#icon-globe"></use></svg>
			      		Spatial Data to CSV
		      		</a>
			    </li>
			    <li class="nav-item">
			      	<a id="hexmap_data" class="nav-link" title="Generate Hex Maps Data for Tableau">
			      		<svg class="icon icon-hexagons"><use xlink:href="symbol-defs.svg#icon-hexagons"></use></svg>
						Spatial Data to Hex Maps
			      	</a>
			    </li>
			    <li class="nav-item dropdown">
			      	<a id="navbardrop" class="nav-link dropdown-toggle" data-toggle="dropdown">
			      		<svg class="icon icon-user"><use xlink:href="symbol-defs.svg#icon-user"></use></svg>
			        	About Me
			      	</a>
			      	<div class="dropdown-menu rounded-0">
			        	<a class="dropdown-item" href="https://github.com/incubated-geek-cc" target="blank">
				        	<svg class="icon icon-github-square"><use xlink:href="symbol-defs.svg#icon-github-square"></use></svg>
				        	GitHub
			        	</a>
				        <a class="dropdown-item" href="https://public.tableau.com/profile/charmaine.chui#!/" target="blank">
							<svg class="icon icon-tableau"><use xlink:href="symbol-defs.svg#icon-tableau"></use></svg>
				        	Tableau Public
				        </a>
				        <a class="dropdown-item" href="https://www.linkedin.com/in/charmaine-chui-15133282/" target="blank">
				        	<svg class="icon icon-linkedin-square"><use xlink:href="symbol-defs.svg#icon-linkedin-square"></use></svg>
				        	LinkedIn
			        	</a>
				        <a class="dropdown-item" href="https://twitter.com/IncubatedGeekCC" target="blank">
				        	<svg class="icon icon-twitter-square"><use xlink:href="symbol-defs.svg#icon-twitter-square"></use></svg>
				        	Twitter
				        </a>
				        <a class="dropdown-item" href="https://geek-cc.medium.com/" target="blank">
				        	<svg class="icon icon-medium-symbol"><use xlink:href="symbol-defs.svg#icon-medium-symbol"></use></svg> Medium & <svg class="icon icon-TDS"><use xlink:href="symbol-defs.svg#icon-TDS"></use></svg> TDS
				        </a>
			      	</div>
			    </li>
		    </ul>
	  	</div>
	</nav>
	<div class="container-md">
		<h3 id="main-title">Generate Network Graph Data for Tableau</h3>
		<iframe id="page-rendered" src="network_data.html"></iframe>
	</div>
 	<script src="js/bootstrap-3.0.12.min.js"></script>
	<script>
		window.onload = function(e) {
			var navLinks=document.getElementsByClassName("nav-link");
		    var mainTitle=document.getElementById("main-title");
		    var pageRender=document.getElementById("page-rendered");
		    for(var n in navLinks) {
		    	if(navLinks[n].id != "navbardrop") {
		    		navLinks[n].onclick = function(e) {
			    		let id=this.id;
			    		pageRender.src=id+".html";
			    		let title=this.title;
			    		mainTitle.innerHTML=title;

			    		for(var i in navLinks) {
			    			if(navLinks[i].id != "navbardrop" && typeof navLinks[i].classList !== "undefined") {
				    			if(navLinks[i].classList.contains("active")) {
					    			navLinks[i].classList.remove("active");
					    		}
				    		}
			    		}

			    		this.classList.add("active");
			    	};
		    	}
		    }
		};
	</script>
</body>
</html>