<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tableau Data Generator Tool</title>
    <link rel="icon" type="image/png" href="img/favicon32x32.png" sizes="32x32">
    <link href="css/bootstrap-3.4.1.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="css/custom.css" />
</head>
<body class="main-body">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <a id="spatial_data" class="navbar-brand nav-link" href="#Generate Spatial Data for Tableau">Logo</a>
	  <ul class="navbar-nav">
	    <li class="nav-item">
	      <a id="spatial_data" class="nav-link" href="#Generate Spatial Data for Tableau">Spatial Data to CSV</a>
	    </li>
	    <li class="nav-item">
	      <a id="network_data" class="nav-link" href="#Generate Network Graph Data for Tableau">Network Graph to CSV</a>
	    </li>
	    <li class="nav-item dropdown">
	      <a id="navbardrop" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
	        About Me
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="https://github.com/incubated-geek-cc" target="blank">GitHub</a>
	        <a class="dropdown-item" href="https://public.tableau.com/profile/charmaine.chui#!/" target="blank">Tableau Public</a>
	        <a class="dropdown-item" href="https://www.linkedin.com/in/charmaine-chui-15133282/" target="blank">LinkedIn</a>
	        <a class="dropdown-item" href="https://twitter.com/IncubatedGeekCC" target="blank">Twitter</a>
	        <a class="dropdown-item" href="https://geek-cc.medium.com/" target="blank">Medium</a>
	      </div>
	    </li>
	  </ul>
	</nav>
	<div class="container-md">
		<h1 id="main-title">Generate Spatial Data for Tableau</h1>
		<iframe id="page-rendered" src="spatial_data.html"></iframe>
	</div>
 	<script src="js/bootstrap-3.0.12.min.js"></script>
	<script>
		window.onload = function(e) {
		    var navLinks=document.getElementsByClassName("nav-link");
		    var mainTitle=document.getElementById("main-title");
		    var pageRender=document.getElementById("page-rendered");
		    for(var n in navLinks) {

		    	if(navLinks[n].id != "navbardrop") {
		    		navLinks[n].onclick = function(e) {
			    		let id=this.id;
			    		pageRender.src=id+".html";
			    		let title=decodeURI(e.target.hash).replace("#","");
			    		mainTitle.innerHTML=title;
			    	};
		    	}
		    	
		    }
		};
	</script>
</body>
</html>